archimedes-force.*
nwd-i-nww.*
algorytm-euklidesa.*
liczby-pierwsze.*
nwd-i-nww.html
cechy-podzielnosci.*
Superpierwsznia.*
rownanie-*
ulamki.html
dzielniki.*
rozklad.js
rownia-pochyla/*
rownia-pochyla.*
*.sh
