archimedes-force.*
nwd-i-nww.*
algorytm-euklidesa.*
liczby-pierwsze.*
cechy-podzielnosci.*
ulamki.html
dzielniki.*
rozklad.js
rownia-pochyla/*
rownia-pochyla.*
dog-on-the-walk.*
triangle-solver.*
.vscode/
*.cpp
*.py
*.csv
quotes.json
*.sh
aux.*
