archimedes-force.*
nwd-i-nww.*
algorytm-euklidesa.*
liczby-pierwsze.*
nwd-i-nww.html
cechy-podzielnosci.*
rownanie-*
ulamki.html
dzielniki.*
rozklad.js
rownia-pochyla/*
rownia-pochyla.*
dog-on-the-walk.*
triangle-solver.*
.vscode/
*.cpp
*.py
*.csv
quotes.json
*.sh
aux.*
